body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #161616;
    color: white;
    margin: 0; /* Remove default margin */
}

.menu-bar {
    background-color: #0f0e0e;
    padding: 20px;
    text-align: center;
    width: 100%; /* Make menu bar full width */
    position: fixed; /* Fix it to the top */
    top: 0; /* Align it at the top */
    left: 0; /* Align it to the left */
    z-index: 1000; /* Make sure it stays on top */

}
.menu-bar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}

.menu-bar a.selected {
    background-color: #2998d8;
    color: white;
}

#logo {
    position:absolute;
    z-index: 10000;
    height: 30px;
    top: 5px;
    left: 10px;
    border-radius: 100px;
}

.collections {
    background-color: rgb(37, 37, 37);
    padding: 20px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin-top: 60px; /* Add margin to avoid overlap with the fixed menu */
}

.collection-button {
    padding: 10px;
    background-color: rgb(42, 161, 252);
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 3px 0;
    border-radius: 10px;
    color: white;
}

.collection-button:hover {
    background-color: rgb(111, 176, 255);
}

.collection-button:active {
    background-color: rgb(210, 235, 255);
}

#backBtn {
    width: 10%;
    align-self: start;
    margin: 10px;
}

.container {
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    max-height: 60vh; /* Restrict the height of the uploaded content */
    width: 90%;
    overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.sections {
    flex:1;
    overflow-y: auto;
    padding: 0 10px
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #212121;
}

::-webkit-scrollbar-thumb {
    background: #007BFF;
}

.section-button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

}

.section-button:hover {
    background-color: #0056b3;
}

.content {
    flex: 4;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2c2c2c;
    overflow-y: auto; /* Enable scrolling within the content area */
    padding: 10px;
    text-align: start;
}

.tooltip-content {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 14px;
}

.tooltip {
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}

.tooltip-word {
    cursor: pointer;
    color: #58a9ff;
    text-decoration: underline;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 1000; /* Make sure it appears on top of everything */
}

h1 {
    text-align: center;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #242424;
}
::-webkit-scrollbar-thumb {
    background: #444444;
  }
#chatbot {
    width: 80%;
    height: 85%;
}
#chat-container {
    /* width: 100%; */
    height: 85%;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    ;
}
#chat-box {
    width: 100%;
    height: 100%;
    /* height: 100%; */
    overflow-y: auto;
    border: 1px solid #00000000;
    margin-bottom: 10px;
    background-color: #242424;
    border-radius: 5px;
}
.msg{
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    clear: both;
    max-width: 70%;
}
.message {
    background-color: #424242;
    float: right;
}
.bot_message {
    background-color: #4a97e0;
    float: left;
}
.error_message {
    background-color: #e04a4a;
    float: left;
}
.status_message {
    background-color: #424242;
    float: right;
}
.icon {
    height: 3vh;
    border-radius: 100%;
}
#user-input {
    height: 4vh;
    width: 99%;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #252525;
}
button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #2d2d2d;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.instruct_msg {
    margin: 20px;
    color: rgba(255, 255, 255, 0.338);
}
